.container{
  width: 100%;
}

@media (min-width: 0px){
  .container{
    max-width: 0px;
  }
}

@media (min-width: 400px){
  .container{
    max-width: 400px;
  }
}

@media (min-width: 500px){
  .container{
    max-width: 500px;
  }
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 777px){
  .container{
    max-width: 777px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

#account-settings-iframe{
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 240 / var(--tw-bg-opacity, 1));
}

#account-settings-iframe:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(15 15 15 / var(--tw-bg-opacity, 1));
}

#account-settings-iframe{
  overflow-x: hidden;
  height: auto;
}

#navbar #menu {
  transition: opacity 0.5s ease-in-out;
}

#navbar{
  --tw-bg-opacity: 1;
  background-color: rgb(221 221 221 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

#navbar:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

#navbar {
  position: absolute;
  top: 0;
  margin: 0;
  height: 3.5em;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  z-index: 1;
  align-items: center;
}

#navbar ul{
  top: 0px;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  --tw-bg-opacity: 1;
  background-color: rgb(221 221 221 / var(--tw-bg-opacity, 1));
  padding: 0px;
}

#navbar ul:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

#navbar #menu li{
  width: 100%;
}

@media (min-width: 640px){
  #navbar #menu li{
    width: auto;
  }
}

#navbar ul li a{
  display: block;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 640px){
  #navbar ul li a{
    width: auto;
  }
}

#navbar ul li a {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#navbar ul li a:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

#navbar ul li a:hover:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(221 221 221 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

#navbar #menu{
  position: absolute;
  top: 100%;
  margin: 0px;
  display: none;
  height: -webkit-max-content;
  height: max-content;
  flex-direction: column;
  text-align: center;
  opacity: 1;
}

@media (min-width: 640px){
  #navbar #menu{
    position: relative;
    top: 0px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    height: 100%;
    flex-direction: row;
  }
}

#navbar #menu {
  list-style: none;
  align-items: center;
}

#menu-btn img {
  cursor: pointer;
  transition: rotate 0.5s ease-in-out;
}

#menu-btn img:hover {
  opacity: 0.8;
}

#menu-btn{
  display: flex;
}

@media (min-width: 640px){
  #menu-btn{
    display: none;
  }
}

#menu-btn{
  column-gap: 0.5em;
  margin-left: 1em;
  align-items: center;
  flex-direction: row;
}

.session-info{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.session-info:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

h3.session-info{
  font-size: 20px;
}

@media (min-width: 640px){
  h3.session-info{
    font-size: 30px;
  }
}

body{
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 240 / var(--tw-bg-opacity, 1));
}

body:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(15 15 15 / var(--tw-bg-opacity, 1));
}

body{
  overflow-x: hidden;
}

#navbar{
  --tw-bg-opacity: 1;
  background-color: rgb(221 221 221 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

#navbar:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

#navbar{
  margin: 0;
  height: 3.5em;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

#navbar ul{
  top: 0px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(221 221 221 / var(--tw-bg-opacity, 1));
  padding: 0px;
}

#navbar ul:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

@media (min-width: 640px){
  #navbar ul{
    margin-left: 1rem;
    margin-right: 1rem;
    column-gap: 1rem;
  }
}

#navbar #menu-dropdown{
  position: absolute;
  top: 100%;
  margin: 0px;
  display: none;
  height: -webkit-max-content;
  height: max-content;
  flex-direction: column;
  text-align: center;
  opacity: 1;
  list-style: none;
  align-items: center;
}

#navbar #menu-dropdown li{
  width: 100%;
}

#navbar #menu-dropdown li a{
  display: block;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#navbar #menu-dropdown li a:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

#navbar #menu-dropdown li a:hover:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(221 221 221 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

#navbar #menu-dropdown {
  transition: opacity 0.5s ease-in-out;
}

.absolute{
  position: absolute;
}

.block{
  display: block;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize{
  resize: both;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.font-barlow{
  font-family: Barlow, sans-serif;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ease-in{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

:root{
  /* account-settings.jsx */
  --fb-sa-s-id1: auto;
}

/* account-settings.jsx */

.setting-submitting-form .submit-btn{
  background-color: lightgray;
  border-radius: 5px;
  width: 150px;
  padding: 1vh 0;
  cursor: pointer;
}

.setting-submitting-form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.option-field {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.forget-password{
  color: darkgray;
  text-decoration: underline;
  cursor: pointer
}

.forget-password:hover{
  color: gray;
}

:root{
  --responsive-grid-differ: 0vw;
}

.setting-page div{
  overflow: hidden;
}

.setup-group{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.category{
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  margin: 10px 0 10px 40px;
}

.category.hovered:hover{
  color: darkgray !important;
}

.setting-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 30px;
  column-gap: 30px;
}

.setting-icon{
  width: 30px;
  height: 30px;
}

.user-profile-icon{
  width: 50px;
  height: 50px;
  border-radius: 9999px;
}

.menu-btn{
  width: 60px;
  height: 60px;
  padding: 10px;
  border: solid 2px;
  border-radius: 10px;
}

.user-profile-pallete.tablet{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 10px;
}

.user-profile-pallete.pc{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.return-ref{
  color: darkgray;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  padding: 20px 0;
  width: 90%;
  text-align: right;
}

.profile-picture-upload-section{
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

@media (min-width: 640px){
  .sm\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}