.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
  resize: both;
}

.font-barlow {
  font-family: Barlow, sans-serif;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

/* intro.jsx */

.subtitle.responsive {
  font-size: 2em;
}

@media (min-width: 400px) {
  .subtitle.responsive {
    font-size: 3em;
  }
}

.banner-container.responsive {
  column-gap: 10px;
}

@media (min-width: 400px) {
  .banner-container.responsive {
    column-gap: 20px;
  }
}

.banner-container.responsive img {
  height: 60px;
  width: 60px;
}

@media (min-width: 640px) {
  .banner-container.responsive img {
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 500px) and (max-width: 640px) {
  .banner-container.responsive img {
    height: 75px;
    width: 75px;
  }
}

.banner-container.responsive .stick {
  height: 60px;
}

@media (min-width: 640px) {
  .banner-container.responsive .stick {
    height: 100px;
  }
}

@media (min-width: 500px) and (max-width: 640px) {
  .banner-container.responsive .stick {
    height: 75px;
  }
}

.banner-container.responsive .title {
  font-size: 1.5em;
}

@media (min-width: 640px) {
  .banner-container.responsive .title {
    font-size: 3em;
  }
}

@media (min-width: 777px) {
  .banner-container.responsive .title {
    font-size: 4em;
  }
}

@media (min-width: 500px) and (max-width: 640px) {
  .banner-container.responsive .title {
    font-size: 2em;
  }
}

.cursor-pointer-animate.responsive {
  --tw-translate-x: 200px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 640px) {
  .cursor-pointer-animate.responsive {
    --tw-translate-x: 400px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (min-width: 777px) {
  .cursor-pointer-animate.responsive {
    --tw-translate-x: 520px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (min-width: 500px) and (max-width: 640px) {
  .cursor-pointer-animate.responsive {
    --tw-translate-x: 270px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

/* registration-page.jsx */

.h-reg.responsive {
  margin-top: 2em;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 640px) {
  .h-reg.responsive {
    margin-top: 1em;
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  .h-reg.responsive {
    font-size: 3em;
  }
}

/* util.jsx - AlertBox Component*/

#alert-box {
  width: 80vw;
}

@media (min-width: 400px) {
  #alert-box {
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  #alert-box {
    width: 40vw !important;
  }
}

.dialog-nester.responsive {
  padding: 3vh;
}

@media (min-width: 777px) {
  .dialog-nester.responsive {
    padding: 5vh;
  }
}

.dialog-title.responsive {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  .dialog-title.responsive {
    font-size: 2em;
  }
}

.dialog-subtitle.responsive,
    .dialog-btn.responsive {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .dialog-subtitle.responsive,
    .dialog-btn.responsive {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.dialog-description.responsive {
  font-size: 0.75rem;
  line-height: 1rem;
}

@media (min-width: 640px) {
  .dialog-description.responsive {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/* util.jsx - Switch Component */

.switch-area.responsive {
  height: 20px;
  width: 30px;
}

@media (min-width: 640px) {
  .switch-area.responsive {
    height: 25px;
    width: 40px;
  }
}

.button.responsive {
  width: 15px;
}

@media (min-width: 640px) {
  .button.responsive {
    width: 20px;
  }
}

.button.is-on.responsive {
  left: 11px;
}

@media (min-width: 640px) {
  .button.is-on.responsive {
    left: 15px;
  }
}

.switch-area.specific#id1.responsive {
  flex-basis: var(--fb-sa-s-id1);
}

@media (min-width: 820px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: auto;
  }
}

@media (min-width: 790px) and (max-width: 820px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: 5vw;
  }
}

@media (min-width: 768px) and (max-width: 790px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: 5.5vw;
  }
}

@media (min-width: 730px) and (max-width: 768px),
    (min-width: 435px) and (max-width: 465px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: 7vw;
  }
}

@media (min-width: 690px) and (max-width: 730px),
    (min-width: 410px) and (max-width: 435px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: 8vw;
  }
}

@media (min-width: 660px) and (max-width: 690px),
    (min-width: 390px) and (max-width: 410px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: 9vw;
  }
}

@media (min-width: 640px) and (max-width: 660px),
    (min-width: 370px) and (max-width: 390px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: 10vw;
  }
}

@media (min-width: 355px) and (max-width: 370px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: 11.5vw;
  }
}

@media (min-width: 340px) and (max-width: 355px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: 12.5vw;
  }
}

@media (min-width: 330px) and (max-width: 340px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: 14vw;
  }
}

@media (min-width: 320px) and (max-width: 330px) {
  .switch-area.specific#id1.responsive {
    --fb-sa-s-id1: 16vw;
  }
}

/* util.jsx - Section Component */

.setting-section-title.responsive {
  font-size: 30px;
}

@media (min-width: 640px) {
  .setting-section-title.responsive {
    font-size: 40px;
  }
}

.setting-section-description.responsive {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .setting-section-description.responsive {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.forget-password.responsive {
  font-size: 0.75rem;
  line-height: 1rem;
}

@media (min-width: 640px) {
  .forget-password.responsive {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* greeting.jsx */

.prompting-message.large.responsive {
  font-size: 1.5em;
}

@media (min-width: 640px) {
  .prompting-message.large.responsive {
    font-size: 3em;
  }
}

@media (min-width: 1024px) {
  .prompting-message.large.responsive {
    font-size: 5em;
  }
}

@media (min-width: 400px) {
  .prompting-message.large.responsive {
    font-size: 2em;
  }
}

.prompting-message.medium.responsive {
  font-size: 1em;
}

@media (min-width: 640px) {
  .prompting-message.medium.responsive {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .prompting-message.medium.responsive {
    font-size: 3em;
  }
}

@media (min-width: 400px) {
  .prompting-message.medium.responsive {
    font-size: 1.25em;
  }
}

.prompting-message.responsive {
  padding: 1rem;
}

@media (min-width: 1024px) {
  .prompting-message.responsive {
    padding: 3rem;
  }
}

@media (min-width: 400px) {
  .prompting-message.responsive {
    padding: 2rem;
  }
}

/* stages - general components */

.stage-name.responsive {
  font-size: 2.5em;
}

@media (min-width: 640px) {
  .stage-name.responsive {
    font-size: 5em;
  }
}

@media (min-width: 768px) {
  .stage-name.responsive {
    font-size: 7em;
  }
}

.stages-section-name.responsive {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  .stages-section-name.responsive {
    font-size: 2.5em;
  }
}

@media (min-width: 768px) {
  .stages-section-name.responsive {
    font-size: 3.5em;
  }
}

.section-topic.responsive {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .section-topic.responsive {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 400px) {
  .section-topic.responsive {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.stage-paragraph.quotation.responsive {
  height: 40%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .stage-paragraph.quotation.responsive {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 768px) {
  .stage-paragraph.quotation.responsive {
    height: auto;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.stage-paragraph.prologue.responsive {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .stage-paragraph.prologue.responsive {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 768px) {
  .stage-paragraph.prologue.responsive {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

span.quote.responsive {
  --tw-translate-y: 25%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@media (min-width: 768px) {
  span.quote.responsive {
    --tw-translate-y: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    font-size: 6rem;
    line-height: 1;
  }
}

span.quote.close.responsive {
  --tw-translate-y: -25%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@media (min-width: 768px) {
  span.quote.close.responsive {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    font-size: 6rem;
    line-height: 1;
  }
}

/* stages - the beginning - foundation of programming*/

.computer-component h1.responsive {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  .computer-component h1.responsive {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .computer-component h1.responsive {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .computer-component h1.responsive {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 400px) {
  .computer-component h1.responsive {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.computer-info-card h2.responsive {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  .computer-info-card h2.responsive {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .computer-info-card h2.responsive {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.computer-component ul li.responsive {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .computer-component ul li.responsive {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    column-gap: 1rem;
  }
}

.computer-info-card p {
  font-size: 0.75rem;
  line-height: 1rem;
}

@media (min-width: 640px) {
  .computer-info-card p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 400px) {
  .computer-info-card p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@custom-variant nmob {
  @media (min-width: 400px) {
    @slot;
  }
}

@custom-variant gmob-lsm {
  @media (min-width: 500px) and (max-width: 640px) {
    @slot;
  }
}

@custom-variant amd {
  @media (min-width: 777px) {
    @slot;
  }
}

@custom-variant xs-md {
  @media (min-width: 0px) and (max-width: 768px) {
    @slot;
  }
}