.absolute{
  position: absolute;
}

.block{
  display: block;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize{
  resize: both;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.font-barlow{
  font-family: Barlow, sans-serif;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ease-in{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

label.theme.text-color,
    h1.theme.text-color,
    h2.theme.text-color,
    h3.theme.text-color,
    h4.theme.text-color,
    h5.theme.text-color,
    h6.theme.text-color,
    div.theme.text-color,
    button.theme.text-color,
    code.theme.text-color,
    pre.theme.text-color,
    a.theme.text-color,
    option.theme.text-color,
    li.theme.text-color,
    ul.theme.text-color,
    ol.theme.text-color,
    textarea.theme.text-color,
    input.theme.text-color,
    p.theme.text-color{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

label.theme.text-color:is(.dark *),
    h1.theme.text-color:is(.dark *),
    h2.theme.text-color:is(.dark *),
    h3.theme.text-color:is(.dark *),
    h4.theme.text-color:is(.dark *),
    h5.theme.text-color:is(.dark *),
    h6.theme.text-color:is(.dark *),
    div.theme.text-color:is(.dark *),
    button.theme.text-color:is(.dark *),
    code.theme.text-color:is(.dark *),
    pre.theme.text-color:is(.dark *),
    a.theme.text-color:is(.dark *),
    option.theme.text-color:is(.dark *),
    li.theme.text-color:is(.dark *),
    ul.theme.text-color:is(.dark *),
    ol.theme.text-color:is(.dark *),
    textarea.theme.text-color:is(.dark *),
    input.theme.text-color:is(.dark *),
    p.theme.text-color:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

label.theme.component.bg-color.inverse,
    h1.theme.component.bg-color.inverse,
    h2.theme.component.bg-color.inverse,
    h3.theme.component.bg-color.inverse,
    h4.theme.component.bg-color.inverse,
    h5.theme.component.bg-color.inverse,
    h6.theme.component.bg-color.inverse,
    div.theme.component.bg-color.inverse,
    button.theme.component.bg-color.inverse,
    code.theme.component.bg-color.inverse,
    pre.theme.component.bg-color.inverse,
    a.theme.component.bg-color.inverse,
    option.theme.component.bg-color.inverse,
    li.theme.component.bg-color.inverse,
    ul.theme.component.bg-color.inverse,
    ol.theme.component.bg-color.inverse,
    textarea.theme.component.bg-color.inverse,
    input.theme.component.bg-color.inverse,
    dialog.theme.component.bg-color.inverse,
    p.theme.component.bg-color.inverse{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

label.theme.component.bg-color.inverse:is(.dark *),
    h1.theme.component.bg-color.inverse:is(.dark *),
    h2.theme.component.bg-color.inverse:is(.dark *),
    h3.theme.component.bg-color.inverse:is(.dark *),
    h4.theme.component.bg-color.inverse:is(.dark *),
    h5.theme.component.bg-color.inverse:is(.dark *),
    h6.theme.component.bg-color.inverse:is(.dark *),
    div.theme.component.bg-color.inverse:is(.dark *),
    button.theme.component.bg-color.inverse:is(.dark *),
    code.theme.component.bg-color.inverse:is(.dark *),
    pre.theme.component.bg-color.inverse:is(.dark *),
    a.theme.component.bg-color.inverse:is(.dark *),
    option.theme.component.bg-color.inverse:is(.dark *),
    li.theme.component.bg-color.inverse:is(.dark *),
    ul.theme.component.bg-color.inverse:is(.dark *),
    ol.theme.component.bg-color.inverse:is(.dark *),
    textarea.theme.component.bg-color.inverse:is(.dark *),
    input.theme.component.bg-color.inverse:is(.dark *),
    dialog.theme.component.bg-color.inverse:is(.dark *),
    p.theme.component.bg-color.inverse:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(15 15 15 / var(--tw-bg-opacity, 1));
}

label.theme.component.bg-color,
    h1.theme.component.bg-color,
    h2.theme.component.bg-color,
    h3.theme.component.bg-color,
    h4.theme.component.bg-color,
    h5.theme.component.bg-color,
    h6.theme.component.bg-color,
    div.theme.component.bg-color,
    button.theme.component.bg-color,
    code.theme.component.bg-color,
    pre.theme.component.bg-color,
    a.theme.component.bg-color,
    option.theme.component.bg-color,
    li.theme.component.bg-color,
    ul.theme.component.bg-color,
    ol.theme.component.bg-color,
    textarea.theme.component.bg-color,
    input.theme.component.bg-color,
    dialog.theme.component.bg-color,
    p.theme.component.bg-color{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

label.theme.component.bg-color:is(.dark *),
    h1.theme.component.bg-color:is(.dark *),
    h2.theme.component.bg-color:is(.dark *),
    h3.theme.component.bg-color:is(.dark *),
    h4.theme.component.bg-color:is(.dark *),
    h5.theme.component.bg-color:is(.dark *),
    h6.theme.component.bg-color:is(.dark *),
    div.theme.component.bg-color:is(.dark *),
    button.theme.component.bg-color:is(.dark *),
    code.theme.component.bg-color:is(.dark *),
    pre.theme.component.bg-color:is(.dark *),
    a.theme.component.bg-color:is(.dark *),
    option.theme.component.bg-color:is(.dark *),
    li.theme.component.bg-color:is(.dark *),
    ul.theme.component.bg-color:is(.dark *),
    ol.theme.component.bg-color:is(.dark *),
    textarea.theme.component.bg-color:is(.dark *),
    input.theme.component.bg-color:is(.dark *),
    dialog.theme.component.bg-color:is(.dark *),
    p.theme.component.bg-color:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

div.theme.container.bg-color,
    ul.theme.container.bg-color,
    ol.theme.container.bg-color,
    dialog.theme.container.bg-color{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

div.theme.container.bg-color:is(.dark *),
    ul.theme.container.bg-color:is(.dark *),
    ol.theme.container.bg-color:is(.dark *),
    dialog.theme.container.bg-color:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity, 1));
}

div.theme.container.bg-color.intense,
    ul.theme.container.bg-color.intense,
    ol.theme.container.bg-color.intense,
    dialog.theme.container.bg-color.intense{
  --tw-bg-opacity: 1;
  background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1));
}

div.theme.container.bg-color.intense:is(.dark *),
    ul.theme.container.bg-color.intense:is(.dark *),
    ol.theme.container.bg-color.intense:is(.dark *),
    dialog.theme.container.bg-color.intense:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(10 10 10 / var(--tw-bg-opacity, 1));
}

label.theme.border-color,
    h1.theme.border-color,
    h2.theme.border-color,
    h3.theme.border-color,
    h4.theme.border-color,
    h5.theme.border-color,
    h6.theme.border-color,
    div.theme.border-color,
    button.theme.border-color,
    code.theme.border-color,
    pre.theme.border-color,
    a.theme.border-color,
    option.theme.border-color,
    li.theme.border-color,
    ul.theme.border-color,
    ol.theme.border-color,
    textarea.theme.border-color,
    input.theme.border-color,
    dialog.theme.border-color,
    p.theme.border-color{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

label.theme.border-color:is(.dark *),
    h1.theme.border-color:is(.dark *),
    h2.theme.border-color:is(.dark *),
    h3.theme.border-color:is(.dark *),
    h4.theme.border-color:is(.dark *),
    h5.theme.border-color:is(.dark *),
    h6.theme.border-color:is(.dark *),
    div.theme.border-color:is(.dark *),
    button.theme.border-color:is(.dark *),
    code.theme.border-color:is(.dark *),
    pre.theme.border-color:is(.dark *),
    a.theme.border-color:is(.dark *),
    option.theme.border-color:is(.dark *),
    li.theme.border-color:is(.dark *),
    ul.theme.border-color:is(.dark *),
    ol.theme.border-color:is(.dark *),
    textarea.theme.border-color:is(.dark *),
    input.theme.border-color:is(.dark *),
    dialog.theme.border-color:is(.dark *),
    p.theme.border-color:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(40 40 40 / var(--tw-border-opacity, 1));
}

label.theme.border-color.intense,
    h1.theme.border-color.intense,
    h2.theme.border-color.intense,
    h3.theme.border-color.intense,
    h4.theme.border-color.intense,
    h5.theme.border-color.intense,
    h6.theme.border-color.intense,
    div.theme.border-color.intense,
    button.theme.border-color.intense,
    code.theme.border-color.intense,
    pre.theme.border-color.intense,
    a.theme.border-color.intense,
    option.theme.border-color.intense,
    li.theme.border-color.intense,
    ul.theme.border-color.intense,
    ol.theme.border-color.intense,
    textarea.theme.border-color.intense,
    input.theme.border-color.intense,
    dialog.theme.border-color.intense
    p.theme.border-color.intense{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

label.theme.border-color.intense:is(.dark *),
    h1.theme.border-color.intense:is(.dark *),
    h2.theme.border-color.intense:is(.dark *),
    h3.theme.border-color.intense:is(.dark *),
    h4.theme.border-color.intense:is(.dark *),
    h5.theme.border-color.intense:is(.dark *),
    h6.theme.border-color.intense:is(.dark *),
    div.theme.border-color.intense:is(.dark *),
    button.theme.border-color.intense:is(.dark *),
    code.theme.border-color.intense:is(.dark *),
    pre.theme.border-color.intense:is(.dark *),
    a.theme.border-color.intense:is(.dark *),
    option.theme.border-color.intense:is(.dark *),
    li.theme.border-color.intense:is(.dark *),
    ul.theme.border-color.intense:is(.dark *),
    ol.theme.border-color.intense:is(.dark *),
    textarea.theme.border-color.intense:is(.dark *),
    input.theme.border-color.intense:is(.dark *),
    dialog.theme.border-color.intense
    p.theme.border-color.intense:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.setup-btn-icon-shadow.theme.custom{
  --icon-shadow: radial-gradient(gray 0%, transparent 60%);
}

.setup-btn-icon-shadow.theme.custom:is(.dark *){
  --icon-shadow: radial-gradient(rgb(50, 50, 50) 0%, transparent 75%);
}

.loading-bar-border.theme.custom{
  --tw-border-opacity: 1;
  border-color: rgb(23 23 23 / var(--tw-border-opacity, 1));
}

.loading-bar-border.theme.custom:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

@media (min-width: 640px){
  .sm\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}