@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

@layer base{
    html, body, #root { @apply w-screen h-auto }
    .page-container{ 
      @apply flex flex-col relative items-center w-screen h-screen z-[1];
    }

    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
      
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
    .font-barlow{
      font-family: 'Barlow', sans-serif;
    }
    .font-league-spartan{
      font-family: "League Spartan", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    }
    .font-oswald {
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
    .font-sedan-sc-regular {
      font-family: "Sedan SC", serif;
      font-weight: 400;
      font-style: normal;
    }
    canvas {
      @apply bg-white dark:bg-neutral-900;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    dialog{ @apply fixed z-[9999] }
    .crossite-iframe{
      background-color: white;
      width: 80%; 
      height: 80%;
      border-radius: 100px;
      border: 10px solid black;
      transition: transform 1s var(--ease-out-cubic), opacity 1s var(--ease-out-cubic);
      opacity: 0;
      transform: translateY(100vh);
    }
    .crossite-iframe.animate{
      opacity: 1;
      transform: translateY(0);
    }
    .spaceship-cockpit-panel{
      justify-content: center;
      overflow: hidden;
      background-image: url("../../../public/imgs/backend-images/spaceship-cockpit.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
    }
    ::-webkit-scrollbar{
        width: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb{
        background-color: rgba(100, 100, 100, 0.5);
        border-radius: 1rem;
    }
    
    ::-webkit-scrollbar-track{
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: rgba(200, 200, 200, 0.5);
    }
}