@tailwind utilities;

@custom-variant nmob {
    @media (min-width: 400px) {
        @slot;
    }
}

@custom-variant gmob-lsm {
    @media (min-width: 500px) and (max-width: 640px) {
        @slot;
    }
}

@custom-variant amd {
    @media (min-width: 777px) {
        @slot;
    }
}

@custom-variant xs-md {
    @media (min-width: 0px) and (max-width: 768px) {
        @slot;
    }
}

@layer utilities {

    /* intro.jsx */

    .subtitle.responsive {
        @apply text-[2em] nmob:text-[3em];
    }

    .banner-container.responsive {
        @apply gap-x-[10px] nmob:gap-x-[20px];
    }

    .banner-container.responsive img {
        @apply w-[60px] h-[60px] gmob-lsm:w-[75px] gmob-lsm:h-[75px] sm:w-[100px] sm:h-[100px];
    }

    .banner-container.responsive .stick {
        @apply h-[60px] gmob-lsm:h-[75px] sm:h-[100px];
    }

    .banner-container.responsive .title {
        @apply text-[1.5em] gmob-lsm:text-[2em] sm:text-[3em] amd:text-[4em];
    }

    .cursor-pointer-animate.responsive {
        @apply translate-x-[200px] gmob-lsm:translate-x-[270px] sm:translate-x-[400px] amd:translate-x-[520px];
    }

    /* registration-page.jsx */

    .h-reg.responsive {
        @apply text-2xl mt-[2em] sm:text-[2em] sm:mt-[1em] lg:text-[3em];
    }


    /* util.jsx - AlertBox Component*/

    #alert-box {
        @apply w-[80vw] nmob:w-[60vw];
        @apply lg:w-[40vw] !important;
    }

    .dialog-nester.responsive {
        @apply p-[3vh] amd:p-[5vh];
    }

    .dialog-title.responsive {
        @apply text-xl sm:text-[2em];
    }

    .dialog-subtitle.responsive,
    .dialog-btn.responsive {
        @apply text-sm sm:text-base;
    }

    .dialog-description.responsive {
        @apply text-xs sm:text-sm;
    }

    /* util.jsx - Switch Component */

    .switch-area.responsive {
        @apply w-[30px] h-[20px] sm:w-[40px] sm:h-[25px];
    }

    .button.responsive {
        @apply w-[15px] sm:w-[20px];
    }

    .button.is-on.responsive {
        @apply left-[11px] sm:left-[15px];
    }

    .switch-area.specific#id1.responsive {
        flex-basis: var(--fb-sa-s-id1);
    }

    @media (min-width: 820px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: auto;
        }
    }

    @media (min-width: 790px) and (max-width: 820px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: 5vw;
        }
    }

    @media (min-width: 768px) and (max-width: 790px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: 5.5vw;
        }
    }

    @media (min-width: 730px) and (max-width: 768px),
    (min-width: 435px) and (max-width: 465px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: 7vw;
        }
    }

    @media (min-width: 690px) and (max-width: 730px),
    (min-width: 410px) and (max-width: 435px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: 8vw;
        }
    }

    @media (min-width: 660px) and (max-width: 690px),
    (min-width: 390px) and (max-width: 410px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: 9vw;
        }
    }

    @media (min-width: 640px) and (max-width: 660px),
    (min-width: 370px) and (max-width: 390px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: 10vw;
        }
    }

    @media (min-width: 355px) and (max-width: 370px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: 11.5vw;
        }
    }

    @media (min-width: 340px) and (max-width: 355px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: 12.5vw;
        }
    }

    @media (min-width: 330px) and (max-width: 340px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: 14vw;
        }
    }

    @media (min-width: 320px) and (max-width: 330px) {
        .switch-area.specific#id1.responsive {
            --fb-sa-s-id1: 16vw;
        }
    }


    /* util.jsx - Section Component */

    .setting-section-title.responsive {
        @apply text-[30px] sm:text-[40px]
    }

    .setting-section-description.responsive {
        @apply text-sm sm:text-base
    }


    .forget-password.responsive {
        @apply text-xs sm:text-base;
    }

    /* greeting.jsx */
    .prompting-message.large.responsive{
        @apply text-[1.5em] nmob:text-[2em] sm:text-[3em] lg:text-[5em]
    }
    .prompting-message.medium.responsive{
        @apply text-[1em] nmob:text-[1.25em] sm:text-[1.5em] lg:text-[3em]
    }
    .prompting-message.responsive{
        @apply p-4 nmob:p-8 lg:p-12;
    }

    /* stages - general components */
    .stage-name.responsive{
        @apply text-[2.5em] sm:text-[5em] md:text-[7em];
    }
    .stages-section-name.responsive{
        @apply text-lg sm:text-[2.5em] md:text-[3.5em];
    }
    .section-topic.responsive{
        @apply text-2xl nmob:text-4xl md:text-6xl;
    }
    .stage-paragraph.quotation.responsive{
        @apply text-sm h-[40%] sm:text-xl md:h-auto md:text-3xl;
    }
    .stage-paragraph.prologue.responsive{
        @apply text-sm sm:text-base md:text-xl;
    }
    span.quote.responsive{
        @apply text-4xl translate-y-1/4 md:translate-y-1/2 md:text-8xl;
    }
    span.quote.close.responsive{
        @apply text-4xl translate-y-[-25%] md:translate-y-[-50%] md:text-8xl;
    }
    /* stages - the beginning - foundation of programming*/
    .computer-component h1.responsive{
        @apply text-lg nmob:text-xl sm:text-2xl md:text-3xl lg:text-4xl;
    }
    .computer-info-card h2.responsive{
        @apply text-lg sm:text-xl lg:text-2xl;
    }
    .computer-component ul li.responsive{
        @apply items-center my-4 flex flex-col lg:justify-items-center lg:grid lg:grid-cols-2 lg:gap-x-4;
    }
    .computer-info-card p{
        @apply text-xs nmob:text-sm sm:text-base;
    }
}