@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Truculenta:opsz,wght@12..72,100..900&display=swap')
layer(components);

@config "../../../tailwind.config.js";

@utility title {
  &h1 {
    @apply sm:text-4xl md:text-6xl lg:text-8xl;
  }
  &.thringo {
    @apply text-blue-400;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(59 130 246);
    text-shadow: 0 0 2rem rgb(188, 214, 255);
  }
}

@utility subtitle {
  &h2 {
    @apply sm:text-lg md:text-xl lg:text-2xl;
  }
  &.thringo {
    @apply text-blue-400;
    text-shadow: 0 0 2rem rgb(59 130 246);
  }
}

@utility development-status {
  & p {
    @apply sm:text-lg md:text-xl lg:text-2xl;
  }
}

@utility learn-more {
  & a {
    @apply sm:text-lg md:text-xl lg:text-2xl;
  }
  &.thringo {
    @apply text-blue-400;
    text-shadow: 0 0 2rem rgb(59 130 246);
  }
}

@utility description {
  &p {
    @apply lg:text-lg;
    max-height: 50vh;
  }
}

@utility thringo {
  &.title {
    @apply text-blue-400;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(59 130 246);
    text-shadow: 0 0 2rem rgb(188, 214, 255);
  }
  &.subtitle {
    @apply text-blue-400;
    text-shadow: 0 0 2rem rgb(59 130 246);
  }
  & .learn-more {
    @apply text-blue-400;
    text-shadow: 0 0 2rem rgb(59 130 246);
  }
}

html{ overflow-x: hidden; width: auto; height: auto; }
body{width: auto; height: auto;}
#navbar{ position: relative !important; }
dd{ margin-inline-start: 40px; }
h1{ font-size: xx-large }
dt{ font-size: x-large; }

.intro-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    height: 100%;
    padding: 12vw;
    text-align: center;
}

.cwr-education{
    color: rgb(200, 255, 255);
    text-shadow: 0 0 1rem rgb(0, 255, 255);
}

p.development-status, a.visit-site{
    opacity: 0.8;
    color: white;
    text-shadow: 0 0 1rem rgb(200, 200, 200);
}

a.visit-site{
    font-size: 3rem;
}

#devto-project-name{
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 1rem rgb(255, 255, 255);
}

@media (max-width:640px){
    p.description{
        overflow: auto;
    }
}