@import 'tailwindcss/utilities' layer(utilities);
@import url('https://fonts.googleapis.com') layer(components);
@import url('https://fonts.gstatic.com') layer(components);
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap')
layer(components);
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap')
layer(components);
@reference "tailwindcss";

@config "../../tailwind.config.js";

@utility subtitle {
  #logo & {
    @apply font-spartan text-black dark:text-white;
    font-weight: 100;
    transform: scale(0);
    font-size: 5em;
    letter-spacing: 0.1em;
    margin: 0;
    transition: transform 1s var(--elastic);
  }
}

@utility line {
  #logo & {
    @apply light-theme-logo-line dark:dark-theme-logo-line;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    margin: 15px;
  }
}

@utility fade {
  #logo-text & {
    @apply light-theme-logo-fade dark:dark-theme-logo-fade;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1em;
  }

  #logo-text &.modded {
    @apply light-theme-logo-fade-modded dark:dark-theme-logo-fade-modded;
  }

  #about-me .content article & {
    @apply light-theme-content-article-fade dark:dark-theme-content-article-fade;
    position: sticky;
    bottom: -1em;
    left: 0;
    width: 100%;
    height: 5em;
  }
}

@utility modded {
  #logo-text &.fade {
    @apply light-theme-logo-fade-modded dark:dark-theme-logo-fade-modded;
  }
}

@utility caption {
  #banner & {
    @apply text-[2em] text-black dark:text-white sm:text-[3em] md:text-[4em] lg:text-[5em];
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 2s var(--elastic);
    transform: scale(0);
  }
}

@utility content {
  #about-me & article {
    @apply text-black bg-white dark:bg-black max-h-[50vh] dark:text-white sm:max-h-[80vh];
    padding: 1em;
    border-radius: 1em;
    width: 80%;
    overflow-y: auto;
    box-shadow: 0 0 1em;
  }

  #about-me & article .fade {
    @apply light-theme-content-article-fade dark:dark-theme-content-article-fade;
    position: sticky;
    bottom: -1em;
    left: 0;
    width: 100%;
    height: 5em;
  }

  #about-me & {
    @apply xs-md:responsive-content-sm md:responsive-content-md;
    padding: 2em 1em;
    margin: 1em 0;
    row-gap: 5em;
  }
}

@utility skills {
  #about-me & {
    @apply text-black dark:text-white;
    padding: 2em 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about-me & #skills-block li:not(#dev-type) h2 {
    @apply my-[0.4em] text-base sm:text-[1.25em];
  }

  #about-me & #skills-block .skill-icon-name {
    @apply w-0 h-0 sm:w-[150px] sm:h-auto;
  }

  & #skills-block .progress-cover-bar {
    @apply relative light-theme-progress-bg-cover dark:dark-theme-progress-bg-cover;
    height: 1rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    width: 80%;
    display: inline-block;
    font-size: x-small;
  }
}

@utility skill-icon-name {
  #about-me .skills #skills-block & {
    @apply w-0 h-0 sm:w-[150px] sm:h-auto;
  }
}

@utility info-list {
  @apply flex flex-col space-y-1;

  & dt {
    @apply font-medium;
  }

  & dd {
    @apply text-gray-500;
  }
}

@utility monitor-stand {
  &div {
    @apply h-4 bg-black dark:bg-neutral-400 rounded-lg opacity-0;
    transition:
      transform 0.5s var(--elastic),
      opacity 0.5s ease-in-out;
    transform: translateY(-20em);
  }
}

@utility learning-style-cartoon-character {
  &img {
    @apply absolute bottom-[-10%] md:bottom-0 lg:h-[150px] lg:w-[150px] md:h-[125px] md:w-[125px] sm:h-[150px] sm:w-[150px] nmob:h-[125px] nmob:w-[125px] w-[100px] h-[100px] opacity-0;
    transition:
      transform 0.5s 0.8s ease-in-out,
      opacity 0.5s 0.8s ease-in-out;
    transform: translateY(-10%);
  }
}

@utility progress-cover-bar {
  .skills #skills-block & {
    @apply relative light-theme-progress-bg-cover dark:dark-theme-progress-bg-cover;
    height: 1rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    width: 80%;
    display: inline-block;
    font-size: x-small;
  }
}

@utility dark-theme-logo-line {
  background-image: linear-gradient(to right, transparent, white, transparent);
}

@utility dark-theme-logo-fade {
  background-image: linear-gradient(to right, transparent, rgb(15, 15, 15));
}

@utility dark-theme-logo-fade-modded {
  background-image: linear-gradient(to right, transparent, rgb(5, 5, 5));
}

@utility dark-theme-content-article-fade {
  background-image: linear-gradient(to bottom, transparent, black);
}

@utility dark-theme-progress-bg-cover {
  --progress-bg-cover: linear-gradient(rgb(25, 25, 25), rgb(25, 25, 25));
}

@utility light-theme-logo-line {
  background-image: linear-gradient(to right, transparent, black, transparent);
}

@utility light-theme-logo-fade {
  background-image: linear-gradient(to right, transparent, rgb(240, 240, 240));
}

@utility light-theme-logo-fade-modded {
  background-image: linear-gradient(to right, transparent, rgb(230, 230, 230));
}

@utility light-theme-content-article-fade {
  background-image: linear-gradient(to bottom, transparent, white);
}

@utility light-theme-progress-bg-cover {
  --progress-bg-cover: linear-gradient(lightgray, lightgray);
}

@utility responsive-content-md {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 50vh);
  justify-items: center;
}

@utility responsive-content-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@layer components{

    html{
        overflow-x: hidden;
    }

    body{
        @apply bg-[#F0F0F0] dark:bg-[#0F0F0F];
        overflow-x: hidden;
        height: auto;
    }

    #logo{
        @apply hidden lg:flex;
        position: absolute;
        left: 0;
        top: 0;
        transition: transform 1s ease-in, top 1s ease-in;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        height: 100%;
        z-index: 2;
    }

    #logo-text{
        @apply font-russo text-[#2C2C2C] dark:text-[#D3D3D3];
        position: relative;
        font-size: 200px;
        letter-spacing: 0.2em;
        overflow: hidden;
        width: 0;
        transition: width 2s ease-out;
    }

    #search-bar input[type="text"]{
        @apply border-solid border-[0.1rem] border-[#CDCDCD] bg-[#EBEBEB] dark:border-[#323232] dark:bg-[#141414] dark:text-white;
        padding: 0.5em;
        border-radius: 2em;
    }
    
    #menu-btn{
        @apply text-black dark:text-white
    }

    #about-me article:not(.skills) h1{ @apply my-[0.5em] text-[1.5em] sm:text-[2em]; }
    #about-me p{ @apply text-sm sm:text-base; }    

    #bio-card{
        @apply rounded-lg shadow-xs max-w-3xl p-0 max-w-[80%] max-h-full overflow-auto bg-white dark:bg-neutral-300;
        box-shadow: 0.5em 0.5em 2em gray;
    }

}

.outside-link{ color: red }
.in-page-navigation{ color: rgb(0, 183, 255); }

:root{
    --icon-shadow: radial-gradient(gray 0%, transparent 60%);
    --progress-bg-cover: linear-gradient(lightgray, lightgray);

    --js-color: gold;
    --ts-color: rgb(0, 113, 189);
    --css-color: rgb(0, 104, 152);
    --html-color: orangered;
    --py-color: rgb(0, 62, 109);
    --lua-color: rgb(26, 0, 104);
    --java-color: rgb(255, 55, 0);
    --php-color: rgb(101, 123, 179);
    --cpp-color: rgb(0, 75, 151);
    --sql-color: rgb(50,50,50);

    --react-color: cyan;
    --next-color: rgb(50,50,50);
    --exp-color: rgb(50,50,50);
    --node-color: rgb(12, 120, 0);
    --fb-color: gold;
    --an-color: rgb(0, 255, 200);
    --git-color: orangered;
    --tw-color: rgb(0, 183, 255);

    --technical-skills-color: rgb(50, 50, 50);
    --ps-color: var(--technical-skills-color);
    --a-lt-color: var(--technical-skills-color);
    --td-color: var(--technical-skills-color);
    --dm-color: var(--technical-skills-color);

    --designing-skills-color: var(--technical-skills-color);
    --resp-color: var(--designing-skills-color);
    --int-color: var(--designing-skills-color);
    --ui-ux-color: var(--designing-skills-color);
    --cr-color: var(--designing-skills-color);
    
    --js-gradient-color: linear-gradient(45deg, gold, yellow);
    --ts-gradient-color: linear-gradient(45deg, rgb(0, 113, 189), rgb(0, 139, 246));
    --css-gradient-color: linear-gradient(45deg, rgb(0, 104, 152), rgb(0, 170, 204));
    --html-gradient-color: linear-gradient(45deg, orangered, orange);
    --py-gradient-color: linear-gradient(45deg, rgb(0, 62, 109) 70%, gold);
    --lua-gradient-color: linear-gradient(45deg, rgb(26, 0, 104) 70%, white);
    --java-gradient-color: linear-gradient(45deg, rgb(255, 55, 0), rgb(0, 74, 159) 80%);
    --php-gradient-color: linear-gradient(45deg, rgb(75, 89, 124), rgb(101, 123, 179));
    --cpp-gradient-color: linear-gradient(45deg, rgb(43, 78, 155), rgb(46, 128, 180));
    --sql-gradient-color: linear-gradient(45deg, rgb(50,50,50), rgb(200,200,200));

    --react-gradient-color: linear-gradient(45deg, cyan, rgb(150, 255, 255));
    --next-gradient-color: linear-gradient(45deg, rgb(50,50,50), rgb(200,200,200));
    --exp-gradient-color: linear-gradient(45deg, rgb(50,50,50), rgb(200,200,200));
    --node-gradient-color: linear-gradient(45deg, rgb(12, 120, 0), rgb(18, 183, 0));
    --fb-gradient-color: linear-gradient(45deg, gold, orange);
    --an-gradient-color: linear-gradient(45deg, rgb(0, 255, 200), rgb(0, 155, 100));
    --git-gradient-color: linear-gradient(45deg, orangered, white);
    --tw-gradient-color: linear-gradient(45deg, rgb(26, 0, 104), rgb(0, 183, 255));

    --technical-skills-gradient-color: linear-gradient(45deg, rgb(50,50,50), rgb(200,200,200));
    --ps-gradient-color: var(--technical-skills-gradient-color);
    --a-lt-gradient-color: var(--technical-skills-gradient-color);
    --td-gradient-color: var(--technical-skills-gradient-color);
    --dm-gradient-color: var(--technical-skills-gradient-color);

    --designing-skills-gradient-color: var(--technical-skills-gradient-color);
    --resp-gradient-color: var(--designing-skills-gradient-color);
    --int-gradient-color: var(--designing-skills-gradient-color);
    --ui-ux-gradient-color: var(--designing-skills-gradient-color);
    --cr-gradient-color: var(--designing-skills-gradient-color);
}

body{ user-select: none; }

main section{
    position: relative;
    z-index: 2;
}

.setup{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    padding: 2vw;
}

html{
    scroll-behavior: smooth;
}

#banner{
    height: 100vh;
}

#proceed{
    pointer-events: none;
    transition: opacity 3s ease-in-out;
    animation: updown 1s ease-in-out alternate infinite;
}

#search-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 1em;
    column-gap: 0.5em
}
#search-bar button[type="submit"]{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
}
#search-bar button[type="submit"] img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0; 
    left: 0;
}

#dice{
    display: inline-block;
}

.shake, .skills #skills-block .skill-icon:hover{
    animation: shaking 1s ease-in-out alternate infinite
}

#skills-block .reveal-skills{
    cursor: pointer;
    transition: rotate 0.5s ease-in-out;
}

#skills-block .reveal-skills:hover{
    opacity: 0.8;
}

.skills #skills-block ol li {
    transition: opacity 0.5s ease-in-out;
}

#about-me .content article,
#about-me .skills #skills-block,
#about-me .skills #skills-block ul > li,
#about-me .skills #skills-block ul > li:not(#dev-type) h2,
#about-me .skills #skills-block ul > li ol > li{
    transform: translateY(-10%); 
    opacity: 0; 
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out
}

.spinning-dice{
    position: absolute;
    z-index: 10;
}

.threeD-screen{
    perspective: 1000px;
    perspective-origin: 50% 50%
}

.spinning-dice:nth-of-type(1){ animation: circulate1 5s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(2){ animation: circulate1 5s 0.3s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(3){ animation: circulate1 5s 0.5s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(4){ animation: circulate1 5s 0.7s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(5){ animation: circulate1 5s 0.85s linear infinite, spinning 1s linear infinite;}

.spinning-dice:nth-of-type(6){ animation: circulate2 5s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(7){ animation: circulate2 5s 0.3s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(8){ animation: circulate2 5s 0.5s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(9){ animation: circulate2 5s 0.7s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(10){ animation: circulate2 5s 0.85s linear infinite, spinning 1s linear infinite;}

.effect-box{
    width: 80%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

#skills-block{
    padding: 1em;
    border-radius: 1em;
    width: 80%;
    overflow-y: auto;
    box-shadow: 0 0 1em;
    background-image: linear-gradient(to bottom, black, gray, black);
}

.skills #skills-block ol li{
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.skills #skills-block ol li img, .skills #skills-block ol li .skill-icon-name{
    display: inline-block;
}

.skills #skills-block .skill-icon-name{
    width: 0;
    transition: width 0.2s ease-in-out;
    overflow: hidden;
}

.skills #skills-block .progress-bar{
    position: relative;
    height: 80%;
    width: 0;
    margin: 0.05rem;
    overflow: hidden;
    border-radius: 1rem;
    transition: width 0.2s 0.5s ease-in-out;
}

.skills #skills-block .progress-bar .progress-bar-sparkle{
    position: absolute;
    background-color: white;
    border-radius: 9999px;
    animation: randomly-moving-particle 2s ease-in-out infinite alternate;
}

@keyframes circulate1{
    0%{ top: -15%; right: -15%; }
    25%{ top: 100%; right: -15%; }
    50%{ top: 100%; right: 100%; }
    75%{ top: -15%; right: 100%; }
    100%{ top: -15%; right: -15%; }
}

@keyframes circulate2 {
    0%{ top: 100%; right: 100%; }
    25%{ top: -15%; right: 100%; }
    50%{ top: -15%; right: -15%; }
    75%{ top: 100%; right: -15%; }
    100%{ top: 100%; right: 100%; }
}

@keyframes spinning{
    from{ rotate: 0deg; }
    to{ rotate: 360deg; }
}

@keyframes shaking {
    from{ rotate: 10deg; }
    to{ rotate: -10deg; }
}

@keyframes randomly-moving-particle{
    0%{ transform: translateX(-23%) translateY(4%); }
    25%{ transform: translateX(23%) translateY(4%); }
    50%{ transform: translateX(45%) translateY(-34%); }
    75%{ transform: translateX(-45%) translateY(34%); }
    100%{ transform: translateX(-9%) translateY(0); }
}

@keyframes updown{
    from{ transform: translateY(-0.5em); }
    to{ transform: translateY(0.5em); }
}