@import url('https://fonts.googleapis.com') layer(components);
@import url('https://fonts.gstatic.com') layer(components);
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap')
layer(components);
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap') layer(components);
@import 'tailwindcss/utilities' layer(utilities);

@config "../../../tailwind.config.js";

@utility full-page {
  @apply w-full h-screen;
}

:root {
    --lofi-radio-count: 9;
}

@layer components{

    body{
        @apply bg-[#F0F0F0] dark:bg-[#0F0F0F] overflow-x-hidden;
    }

    h1.title{
        @apply text-[2.5rem] nmob:text-[3rem] sm:text-[4rem] md:text-[6rem] lg:text-[8rem] font-comic-relief;
        transform: translateY(-25%);
        opacity: 0;
        transition: transform 1s ease-in, opacity 1s ease-in;
    }

    .break .art-text{
        @apply max-w-[200px] sm:max-w-[350px] lg:max-w-[500px] xl:max-w-none;
        text-align: center;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
    }

    img#lofi-girl{
        @apply w-[50px] h-[50px] md:w-[75px] md:h-[75px] lg:w-[100px] lg:h-[100px]
    }

    .conveyor .belt .item{
        @apply w-full h-full flex items-center justify-center flex-col
    }

    .item .lofi-radio{
        @apply w-[80%] h-[250px] min-w-[450px] max-w-[500px];
        aspect-ratio: 16/9;
        pointer-events: none;
    }  

    #playlists{
        @apply w-[60%] sm:w-[80%];
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(14, 1fr);
        column-gap: 2rem;
    }

    .nth {
        @apply mx-[1rem] sm:mx-[2rem];
        font-family: "Comic Relief", "system-ui";
        opacity: 0.5;
    }

    .music-library-container {
        @apply relative flex justify-between items-center flex-col w-[80vw] h-[70vh] p-[1rem] md:w-[60vw];
        border: 5px solid white;
        border-radius: 4rem;
        background-image: linear-gradient(45deg, rgb(80,80,80), rgb(0,0,0) 50%, rgb(80,80,80));
    }
    
    #lib-search-bar input{
        @apply w-[150px] nmob:w-[212px]
    }

}

h2.h-concerned{
    padding: 4rem 0;
}

@media (max-height: 700px) {
    h2.h-concerned{
        padding: 2rem 0;
    }
}

.radio-name{
    transform: translateY(-150%);
    transition: transform 0.25s ease-in-out;
}

.item *.selected, .round-btn:hover{
    box-shadow: 0 0 10px 0.5rem #1DB954;   
}

.radio-name.selected{
    transform: translateY(0%);
    box-shadow: none;
}

.round-btn{
    border-radius: 9999px;
    background-color: #1DB954;
    padding: 1rem;
}

.conveyor{
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.conveyor .belt{
    display: grid;
    grid-template-columns: repeat(var(--lofi-radio-count), 1fr);
    column-gap: 1rem;
    width: 100%;
    height: 100%;
    animation: conveyor-belt calc(var(--lofi-radio-count) * 5s) linear infinite alternate;
}

@keyframes conveyor-belt {
    0% { transform: translateX(calc(450px + 1rem)); }
    100% { transform: translateX(calc(-1 * ((var(--lofi-radio-count) / 3) + 1)* (450px + 1rem))); }
    
}

img#smile-listen-to-music{
    transform: rotate(-15deg);
}

.break .art-text{
    transform: rotate(15deg);
}

@media (min-width: 1024px) {
    img#smile-listen-to-music{
        width: 20%;
        padding: 5rem 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    img#smile-listen-to-music{
        width: 25%;
        padding: 5rem 0;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    img#smile-listen-to-music{
        width: 30%;
        padding: 2rem 0;
    }
}

@media (min-width: 500px) and (max-width: 640px) {
    img#smile-listen-to-music{
        width: 25%;
        padding: 2rem 0;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    img#smile-listen-to-music{
        width: 30%;
        padding: 2rem 0;
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    img#smile-listen-to-music{
        width: 35%;
        padding: 2rem 0;
    }
}

@media (max-width: 320px) {
    img#smile-listen-to-music{
        width: 40%;
        padding: 2rem 0;
    }
}


body{
    user-select: none;
}

main section{
    position: relative;
    z-index: 0;
}

#heading-lofi-video{
    display: flex;
    justify-content: center;
}

#heading-lofi-video iframe{
    pointer-events: none;
    min-width: 1250px;
}

#heading-lofi-video #heading-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent, transparent 40%, black 90%);
}

.transparent-mask{
    position: absolute;
    width: 100%;
    height: 50%;
    backdrop-filter: blur(1rem);
    padding: 5rem;
    mask-image: radial-gradient(ellipse, black, transparent 100%);
    transition: opacity 1s ease-in;
    opacity: 0;
}

#heading-banner :not(.transparent-mask){
    z-index: 1;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#music{
    background-color: black;
}

.playlist-item{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.playlist-item .playlist-cover{
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.playlist-cover img{
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.toast-container {
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 1rem;
    right: 1rem;
    column-gap: 0.5rem;
    padding: 1rem;
    height: 50px;
    border: 2px solid white;
    border-radius: 9999px;
    background-image: linear-gradient(45deg, rgb(80,80,80), rgb(0,0,0) 50%, rgb(80,80,80));
}

.pseudo-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: transparent;
}

.music-library-container .lib-list{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: auto;
    height: 50vh;
}

.lib-list .music-lib, .lib-list .music-card{
    font-family: "Comic Relief", "system-ui";
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}

.lib-list .music-lib:hover, .lib-list .music-card:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

#skip-play-btn:disabled{
    opacity: 0.5;
    pointer-events: none;
}

#lib-search-bar input:focus-visible{
    outline: none;
}

#lib-search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    color: white;
    border: 2px solid white;
    border-radius: 9999px;
    padding: 0.5rem;
    width: max-content;
}

#speaker-hidden-container{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;    
}

#music-name{
    overflow: hidden;
    white-space: nowrap;
    transition: width 1s ease-in-out;
}

#mn-dialog{
    background-color: transparent;
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    inset-inline: inherit;
}

#mn-dialog div{
    font-family: "Comic Relief", "system-ui";;
    border-radius: 9999px;
    background-color: white;
    padding: 0.5rem;
    border: solid 2px gray;
}

#volume-slider{
    position: absolute;
    bottom: 3rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background-image: linear-gradient(45deg, rgb(80,80,80), rgb(0,0,0) 50%, rgb(80,80,80));
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border: 2px solid white;
    border-bottom: none;
    z-index: 100;
}

img#falling-book{
    margin: 10rem 0;
    width: 20vw;
    rotate: -30deg;
}

._90deg-flipped-ccw-text{
    position: relative;
    width: 40px;
    height: 295px; /* desired visual height after rotation */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

._90deg-flipped-ccw-text .body-text{
    position: absolute;
    left: 40px;
    bottom: 0px;
    width: 295px;   /* this becomes the visual height after rotation */
    height: 40px; /* this becomes the visual width after rotation */
    transform: rotate(-90deg);
    transform-origin: left bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vr{
    border: 2px solid white;
    mask-image: linear-gradient(transparent, black 30%, black 70%, transparent);
    margin-left: 1.5rem
}