@import url('https://fonts.googleapis.com') layer(components);
@import url('https://fonts.gstatic.com') layer(components);
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap')
layer(components);
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap') layer(components);
@import 'tailwindcss/utilities' layer(utilities);

@config "../../../tailwind.config.js";

@utility full-page {
  @apply w-full h-screen;
}

:root {
    --lofi-radio-count: 6;
}

@layer components{

    body{
        @apply bg-[#F0F0F0] dark:bg-[#0F0F0F] overflow-x-hidden;
    }

    h1.title{
        @apply text-[2.5rem] nmob:text-[3rem] sm:text-[4rem] md:text-[6rem] lg:text-[8rem] font-comic-relief;
        transform: translateY(-25%);
        opacity: 0;
        transition: transform 1s ease-in, opacity 1s ease-in;
    }

    .break #music-on-your-demand{
        @apply max-w-[200px] sm:max-w-[350px] lg:max-w-[500px] xl:max-w-none;
        text-align: center;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
    }

    img[alt="lofi-girl"]{
        @apply w-[50px] h-[50px] md:w-[75px] md:h-[75px] lg:w-[100px] lg:h-[100px]
    }

    .conveyor .belt .item{
        @apply w-full h-full flex items-center justify-center flex-col
    }

    .item .lofi-radio{
        @apply w-[80%] h-[250px] min-w-[450px] max-w-[500px];
        aspect-ratio: 16/9;
        pointer-events: none;
    }  

    #playlists{
        @apply w-[60%] sm:w-[80%];
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        height: 60%;
    }

}

h2.h-concerned{
    padding: 4rem 0;
}

@media (max-height: 700px) {
    h2.h-concerned{
        padding: 2rem 0;
    }
}

.radio-name{
    transform: translateY(-150%);
    transition: transform 0.25s ease-in-out;
}

.item *.selected, .round-btn:hover{
    box-shadow: 0 0 10px 0.5rem #1DB954;   
}

.radio-name.selected{
    transform: translateY(0%);
    box-shadow: none;
}

.round-btn{
    border-radius: 9999px;
    background-color: #1DB954;
    padding: 1rem;
}

.conveyor{
    width: 100%;
    height: 60%;
    mask-image: linear-gradient(to right, transparent, black, transparent);
}

.conveyor .belt{
    display: grid;
    grid-template-columns: repeat(var(--lofi-radio-count), 1fr);
    column-gap: 1rem;
    width: 100%;
    height: 100%;
    animation: conveyor-belt calc(var(--lofi-radio-count) * 5s) linear infinite alternate;
}

@keyframes conveyor-belt {
    0% { transform: translateX(calc(450px + 1rem)); }
    100% { transform: translateX(calc(-1 * ((var(--lofi-radio-count) / 3) + 1)* (450px + 1rem))); }
    
}

img[alt="smile listen to music"]{
    transform: rotate(-15deg);
}

.break #music-on-your-demand{
    transform: rotate(15deg);
}

@media (min-width: 1024px) {
    img[alt="smile listen to music"]{
        width: 20%;
        padding: 5rem 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    img[alt="smile listen to music"]{
        width: 25%;
        padding: 5rem 0;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    img[alt="smile listen to music"]{
        width: 30%;
        padding: 2rem 0;
    }
}

@media (min-width: 500px) and (max-width: 640px) {
    img[alt="smile listen to music"]{
        width: 25%;
        padding: 2rem 0;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    img[alt="smile listen to music"]{
        width: 30%;
        padding: 2rem 0;
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    img[alt="smile listen to music"]{
        width: 35%;
        padding: 2rem 0;
    }
}

@media (max-width: 320px) {
    img[alt="smile listen to music"]{
        width: 40%;
        padding: 2rem 0;
    }
}


body{
    user-select: none;
    position: relative;
}

main section{
    position: relative;
    z-index: 0;
}

#heading-lofi-video{
    display: flex;
    justify-content: center;
}

#heading-lofi-video iframe{
    pointer-events: none;
    min-width: 1250px;
}

#heading-lofi-video #heading-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent, transparent 40%, black 90%);
}

.transparent-mask{
    position: absolute;
    width: 100%;
    height: 50%;
    backdrop-filter: blur(1rem);
    padding: 5rem;
    mask-image: radial-gradient(ellipse, black, transparent 100%);
    transition: opacity 1s ease-in;
    opacity: 0;
}

#heading-banner :not(.transparent-mask){
    z-index: 1;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#music{
    background-color: black;
}

.playlist-item{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.playlist-item .playlist-cover{
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-cover img{
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.toast-container {
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 1rem;
    right: 1rem;
    column-gap: 0.5rem;
    padding: 1rem;
    height: 50px;
    width: 50%;
    border: 2px solid white;
    border-radius: 9999px;
    background-image: linear-gradient(45deg, rgb(80,80,80), rgb(0,0,0) 50%, rgb(80,80,80));
}