@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wdth,wght@100..125,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* No tailwind but I still want to use the utility functionality ;-; */
/* Utilities Classes */

.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.font-roboto-mono{
  font-family: "Roboto Mono", monospace;
}

.font-m-plus{
  font-family: "M PLUS Code Latin", monospace;
}

.font-sansation{
  font-family: "Sansation", sans-serif;
}

.text-center{
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

/* Component Classes */

#cv-nav{
  position: fixed;
  top: 0;
  z-index: 20;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

#cv-nav::after{
  content: "";
  width: 100vw;
  height: 250%;
  position: absolute;
  left: -1rem;
  top: 0; 
  z-index: 10;
  background-image: linear-gradient(to bottom, white 6rem, transparent);
}

#menu {
  column-gap: 1rem;
}

.nav-wrapper{
  position: relative;
  z-index: 20;
  border-bottom: 2px solid black;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

#personalization{
  column-gap: 0.5rem;
}

#logo-for-cv{
  column-gap: 0.25rem;
}

#logo-for-cv img{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
}

#logo-for-cv span{
  letter-spacing: 0.5rem;
  font-weight: 600;
  font-size: 2rem;
}

#theme-controller{
  display: block;
  width: 30px;
  height: 30px;
}

#lang-selection{
  margin: 0 1rem;
  font-size: 1.25rem;
}

#lang-selection a{
  padding: 0 0.5rem;
}

.selected.lang{
  font-weight: 600;
  border-right: 2px solid black;
}

header {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: calc(4rem + 65px);
}

header span {
  font-size: 3rem;
}

.dq-left{
  transform: skew(15deg, 0deg);
  position: relative;
  z-index: -1;
}

.dq-right{
  transform: skew(-15deg, 0deg);
  position: relative;
  z-index: -1;
}

.animated-text::after, .animated-text span{
  transition: all 0.25s ease-in-out;
}

.animated-text::after{
  position: relative;
  display: block;
  content: "";
  height: 4px;
  background-color: black;
  width: 0;
  bottom: 10px;
}

.animated-text:hover::after{
  width: 100%;
}

.animated-text:hover span{
  transform: skew(-15deg, 0deg);
}

main {
  width: 95%;
  display: grid;
  grid-template-columns: 30% 65%;
  column-gap: 5%;
  margin: 0 auto;
}

main section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#pfp-c-s{
  row-gap: 2rem;
}

#pfp-c-s::before {
  content: "";
  background-image: linear-gradient(200deg, transparent 20rem, rgba(211,211,211) 35rem);
  position: absolute;
  top: 65px;
  left: 0;
  z-index: -1;
  width: 30%;
  height: 500vh;
}

#pfp-c-s > h2, #pfp-c-s > div {
  width: 80%;
}

.pfp{
  display: block;
  width: 250px;
  height: 250px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 9999px;
  box-shadow: 0 0 12px rgba(50,50,50,0.75);
}

#my-name{
  position: relative;
  left: -40px;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 800;
  font-variation-settings: "wdth" 125;
}

#my-name._0-md {
  display: none;
}

.p-block{
  margin: 2rem 0;
}

.p-block h2 {
  position: relative;
  background-color: white;
  z-index: 2;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}

h2.block-title {
  font-size: 2rem;
  font-weight: 600;
  width: 80%;
}

.p-block .header-wrapper.right, 
#portfolio .header-wrapper.right,
#certificates .header-wrapper.right {
  justify-content: flex-end;
}

.p-block .header-wrapper.left,
#portfolio .header-wrapper.left,
#certificates .header-wrapper.left{
  justify-content: flex-start;
}

.p-block::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
  right: 40px;
  border: 2px solid darkgray;
  border-radius: 1rem;
  z-index: 1;
  mask-image: linear-gradient(75deg, transparent, black, transparent, black, transparent, black, transparent);
}

.p-block > p, .pbc {
  width: calc(100% - 80px);
}

.pbc {
  row-gap: 2rem;
}

#contact, #hobbies{
  row-gap: 0.75rem;
}

#hobbies {
  margin: 1.5rem 0;
}

#contact .contact-info, #hobbies .hobby{
  align-items: center;
  column-gap: 0.5rem;
}

.contact-info span, .contact-info a{
  font-size: 1.125rem;
}

a:hover{
  text-decoration: underline;
}

.contact-info a:visited{
  color: rgb(100,100,100);
}

#about-me{
  margin-top: 0
}

.p-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10%;
}

.achievement-tree{
  display: grid;
  grid-template-columns: 10% 85%;
  column-gap: 5%;
}

.tree{
  margin: 1rem 0;
  justify-items: center;
}

.circle{
  border-radius: 9999px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.ongoing{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
}

.circle.ongoing::after{
  content: "";
  display: block;
  background-color: white;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  position: relative;
}

.circle.success {
  background-color: lightgray;
  opacity: 0.5;
}

.line{
  width: 5px;
}

#to-cmu {
  background-image: linear-gradient(to bottom, lightgray 100px, darkgray 150px);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 100px, black 150px);
  height: 160px;
}

.achievements {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.achievement .a-title, .e-title, .project > a {
  font-weight: 600;
  font-size: 1.125rem;
}

.achievement .a-subtitle, .achievement .a-description, .project > p {
  font-size: 0.8rem;
  color: rgb(100,100,100);
}

.achievement ul.a-description{
  position: relative;
  left: 1.5rem;
  list-style-type: disc;
}

.achievement.success{
  opacity: 0.5;
}

.addi-details{
  margin: 1rem 0;
  justify-content: space-between;
}

.addi-details > div {
  color: rgb(100,100,100);
  column-gap: 0.5rem;
}

.addi-details > div img, .hobby img, .contact-info img  {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.experience p, .hobby span {
  color: rgb(100,100,100);
}

#languages {
  row-gap: 1rem;
}

.progress-bar{
  position: relative;
  background-color: black;
  border-radius: 9999px;
  width: 100%
}

@keyframes filling-progress {
  from {
    width: 0px;
  } to {
    width: var(--progress);
  }
}

.progress-bar > div {
  position: relative;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, rgb(0, 255, 94), white);
  width: 0;
  animation: filling-progress 1s ease-in-out forwards;
  animation-delay: 0.5s;
  height: 0.5rem;
  border-radius: 9999px;
}

.progress-bar > span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75rem;
  transform: translateY(75%);
}

.pc {
  width: 100%;
  column-gap: 2rem;
}

.pc > span {
  width: 100px;
  min-height: 1rem;
  text-align: right;
}

.pc.beginner .progress-bar > div {
  background-image: linear-gradient(to right, rgb(255, 0, 0), white);
}

.pc.mediorce .progress-bar > div {
  background-image: linear-gradient(to right, rgb(255, 255, 0), white);
}

#technical .pc > span{
  width: 200px;
  font-size: 0.75rem;
  height: 2rem;
  justify-content: flex-end;
}

#skills {
  row-gap: 1rem;
}

#skills .skill-list h3 {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.gauge::before, .gauge img, .gauge .img-backdrop {
  border-radius: 9999px;
}

.gauge img{
  position: relative;
  z-index: 1;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.gauge {
  position: relative;
  width: 40px;
}

@property --animated-percentage {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@keyframes filling-gauge {
  from {
    --animated-percentage: 0%;
  } to {
    --animated-percentage: var(--percentage);
  }
}

.gauge::before {
  position: absolute;
  top: -15%;
  left: -15%;
  content: "";
  width: 130%;
  height: 130%;
  background-image: conic-gradient(var(--color) var(--animated-percentage), white 0);
  will-change: background-image;
  animation: filling-gauge 1s ease-in-out forwards;
  animation-delay: 0.5s;
  z-index: 0;
}

.gauge .img-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.gauge-list > div span {
  display: inline-block;
  text-align: center;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  width: fit-content;
}

.gauge-list {
  display: grid;
  gap: 0.75rem
}

#pl, #ltf {
  grid-template-columns: repeat(5, minmax(39px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}

#js.gauge::before {
  --color: yellow;
  --percentage: 60%;
}

#ts.gauge::before {
  --color: rgb(15, 111, 175);
  --percentage: 20%;
}

#css.gauge::before {
  --color: rgb(0, 183, 255);
  --percentage: 70%;
}

#html.gauge::before {
  --color: orangered;
  --percentage: 50%;
}

#py.gauge::before {
  --color: rgb(7, 91, 51);
  --percentage: 50%;
}

#lua.gauge::before {
  --color: rgb(47, 23, 151);
  --percentage: 60%;
}

#java.gauge::before {
  --color: brown;
  --percentage: 26%;
}

#php.gauge::before {
  --color: rgb(121, 112, 255);
  --percentage: 5%;
}

#cpp.gauge::before {
  --color: rgb(0, 75, 151);
  --percentage: 10%;
}

#sql.gauge::before {
  --color: rgb(0, 199, 40);
  --percentage: 20%;
}

#react.gauge::before {
  --color: rgb(0, 165, 206);
  --percentage: 40%;
}

#next.gauge::before {
  --color: rgb(150, 150, 150);
  --percentage: 30%;
}

#tw.gauge::before {
  --color: rgb(0, 106, 194);
  --percentage: 30%;
}

#supabase.gauge::before {
  --color: rgb(0, 199, 136);
  --percentage: 20%;
}

#git.gauge::before {
  --color: orangered;
  --percentage: 20%;
}

#exp.gauge::before {
  --color: rgb(150,150,150);
  --percentage: 20%;
}

#firebase.gauge::before {
  --color: gold;
  --percentage: 20%;
}

#node.gauge::before {
  --color: rgb(7, 91, 51);
  --percentage: 10%;
}

ul#soft-skills {
  margin-left: 2rem;
  list-style-type: disc;
}

#portfolio, #certificates {
  margin: 2rem 0;
}

#portfolio .header-wrapper, #certificates .header-wrapper {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px solid black;
}

#portfolio .header-wrapper::after, #certificates .header-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: black;
  left: 0;
  bottom: -8px;
}

#portfolio > *, #certificates > * {
  position: relative;
  left: -40px;
}

#portfolio .note, #certificates .note {
  font-size: 0.75rem;
  margin: 0.75rem 0;
}

.project {
  width: 90%;
  padding: 1rem 0;
  row-gap: 0.5rem;
  border-bottom: 1px solid darkgray;
}

.project > p {
  color: black;
}

#portfolio .project:last-child, #certificates .project:last-child {
  border-bottom: none;
}

#quote {
  position: relative;
  left: -40px;
  width: 95%;
  font-size: 2rem;
  padding: 1rem 0;
  border-top: 1px solid darkgray;
}

@media (max-width: 1280px) {

  header span {
    font-size: 2.5rem;
  }

  main {
    width: calc(100% - 2rem);
  }

  #cv-nav::after {
    background-image: linear-gradient(to bottom, white 5rem, transparent);
    height: 200%;
  }

  #pfp-c-s::before {
    height: 450vh;
  }

  #my-name {
    font-size: 2rem;
  }

  .p-block h2, #portfolio h2, #certificates h2, h2.block-title, #logo-for-cv span {
    font-size: 1.75rem;
  }

  #quote {
    font-size: 1.7rem;
  }

  .p-block > p, .pbc, #menu a, #lang-selection a {
    font-size: 0.875rem;
  }

  .achievement .a-title,
  .e-title,
  .project > a,
  #contact .contact-info span,
  #contact .contact-info a {
    font-size: 1rem;
  }

  .achievement .a-subtitle span {
    display: block;
  }

  .achievement .a-subtitle span:nth-child(2) {
    display: none;
  }

  .gauge {
    width: 30px;
  }
  .gauge-list {
    gap: 0.5rem;
  }
  .gauge-list > div span {
    font-size: 0.7rem;
  }
}

@media (min-width: 1024px) and (max-width: 1080px) {
  #to-cmu {
    background-image: linear-gradient(to bottom, lightgray 100px, darkgray 150px);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 100px, black 150px);
    height: 200px;
  }
  #contact .contact-info span, #contact .contact-info a {
    font-size: 0.9rem;
  }
  #quote {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  header span {
    font-size: 2rem;
  }
  .animated-text::after {
    height: 3px;
    bottom: 8px;
  }
  #cv-nav::after {
    background-image: linear-gradient(to bottom, white 4rem, transparent);
  }
  #my-name {
    font-size: 1.75rem;
  }
  #pfp-c-s::before {
    height: 400vh;
  }
  #logo-for-cv img {
    width: 35px;
    height: 35px;
  }
  #theme-controller {
    width: 25px;
    height: 25px;
  }
  .p-block, #portfolio, #certificates {
    margin: 1.25rem 0;
  }
  .p-block h2, #portfolio h2, #certificates h2, h2.block-title, #logo-for-cv span {
    font-size: 1.5rem;
  }
  .p-block h2 {
    padding: 0.75rem;
  }
  .p-block::after {
    height: calc(100% - 20px);
  }
  .p-block > p, .pbc, #hobbies {
    position: relative;
    right: 20px;
    width: calc(100% - 40px);
    font-size: 0.75rem;
  }
  .p-grid {
    column-gap: 7.5%;
  }
  .achievements {
    row-gap: 30px;
  }
  .achievement .a-subtitle, .achievement .a-description, .project > p, #menu a {
    font-size: 0.75rem;
  }
  .progress-bar > span {
    font-size: 0.65rem;
  }
  ul#soft-skills {
    margin-left: 1.5rem;
  }
  #contact .contact-info span, #contact .contact-info a, .pc > span, ul#soft-skills li {
    font-size: 0.8rem;
  }
  .pc {
    column-gap: 1rem;
  }
  .addi-details{
    margin: 0.5rem 0;
  }
  .addi-details > div img, .hobby img, .contact-info img {
    width: 20px;
    height: 20px;
  }
  #pfp-c-s {
    row-gap: 1rem;
  }
  .pfp {
    width: 200px;
    height: 200px;
  }
  #pl {
    grid-template-columns: repeat(4, minmax(39px, 1fr));
    grid-template-rows: repeat(3, 1fr);
  }
  #ltf {
    grid-template-columns: repeat(4, minmax(39px, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }
  #skills .skill-list h3 {
    padding-bottom: 0.5rem;
  }
  #portfolio .note, #certificates .note {
    font-size: 0.55rem;
  }
  #quote {
    font-size: 1.25rem;
  }
}

@media (max-width: 900px) {
  main {
    width: 100%;
    margin: 0;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
  }
  #logo-for-cv span {
    font-size: 1.25rem;
  }
  #lang-selection {
    margin: 0;
  }
  .nav-wrapper {
    padding: 0.5rem;
  }
  #pfp-c-s::before {
    width: 35%;
  }
  #my-name {
    left: -20px
  }
  .p-block > p, .pbc, #hobbies {
    right: 0;
  }
  .p-block::after {
    right: 20px;
  }
  #portfolio > *, #certificates > * {
    left: -20px;
  }
  #quote {
    font-size: 1.125rem;
  }
}

@media (max-width: 768px) {
  #cv-nav {
    position: relative;
    margin-bottom: 1rem;
  }
  #cv-nav::after {
    display: none;
  }
  .nav-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }
  main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  header {
    display: none;
  }
  #pfp-c-s::before {
    display: none;
  }
  #pfp-c-s > div, #pfp-c-s > h2 {
    width: 95%;
  }
  #contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #profile > * {
    width: 95%;
  }
  .p-block::after {
    right: 0;
  }
  .p-block > p, .pbc, #hobbies {
    right: -20px;
  }
  #my-name.md-inf {
    display: none;
  }
  #my-name._0-md {
    display: block;
    left: 0;
    text-align: center;
  }
  .gauge::before {
    background-image: conic-gradient(var(--color) var(--animated-percentage), lightgray 0);
  }
  #portfolio > *, #certificates > * {
    left: 0;
    right: -20px;
  }
  #quote {
    font-size: 1.5rem;
    position: relative;
    left: 0;
  }
}

@media (max-width: 640px) {
  .p-grid {
    display: flex;
    flex-direction: column;
  }
  .achievement-tree {
    grid-template-columns: 5% 90%;
    column-gap: 5%;
  }
  #to-cmu {
    background-image: linear-gradient(to bottom, lightgray 60px, darkgray 90px);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 60px, black 90px);
    height: 100px;
  }
  .achievement .a-subtitle span, .achievement .a-subtitle span:nth-child(2) {
    display: inline;
  }
  #portfolio .note, #certificates .note {
    font-size: 0.75rem;
  }
  #quote {
    font-size: 1.25rem;
  }
}

@media (max-width: 500px) {
  #quote {
    font-size: 1rem;
  }
  #contact {
    display: flex;
    flex-direction: column;
  }
  #menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  #quote {
    font-size: 0.875rem;
  }
}