@import 'tailwindcss/utilities' layer(utilities);
@reference "tailwindcss";

@config "../../../../tailwind.config.js";

@utility alert-box {
  /* util.jsx - AlertBox Component*/
  @apply w-[80vw] nmob:w-[60vw];
  @apply lg:w-[40vw]!;
}

@utility dialog-nester {
  &.responsive {
    @apply p-[3vh] amd:p-[5vh];
  }
}

@utility responsive {
  &.dialog-nester {
    @apply p-[3vh] amd:p-[5vh];
  }

  &.dialog-title {
    @apply text-xl sm:text-[2em];
  }

  &.dialog-subtitle {
    @apply text-sm sm:text-base;
  }

  & .dialog-btn {
    @apply text-sm sm:text-base;
  }

  &.dialog-description {
    @apply text-xs sm:text-sm;
  }

  /* util.jsx - Switch Component */

  &.switch-area {
    @apply w-[30px] h-[20px] sm:w-[40px] sm:h-[25px];
  }

  &.button {
    @apply w-[50%];
  }

  &.button.is-on {
    @apply left-[50%];
  }

  &.option-field {
    @apply flex-col gap-y-[10px] nmob:gap-y-0 nmob:flex-row;
  }

  /* util.jsx - Section Component */

  &.setting-section-title {
    @apply text-[30px] sm:text-[40px];
  }

  &.setting-section-description {
    @apply text-sm sm:text-base;
  }
}

@utility dialog-title {
  &.responsive {
    @apply text-xl sm:text-[2em];
  }
}

@utility dialog-subtitle {
  &.responsive {
    @apply text-sm sm:text-base;
  }
}

@utility dialog-btn {
  &.responsive {
    @apply text-sm sm:text-base;
  }
}

@utility dialog-description {
  &.responsive {
    @apply text-xs sm:text-sm;
  }
}

@utility switch-area {
  /* util.jsx - Switch Component */

  &.responsive {
    @apply w-[30px] h-[20px] sm:w-[40px] sm:h-[25px];
  }
}

@utility button {
  &.responsive {
    @apply w-[50%];
  }

  &.is-on.responsive {
    @apply left-[50%];
  }
}

@utility is-on {
  &.button.responsive {
    @apply left-[50%];
  }
}

@utility option-field {
  &.responsive {
    @apply flex-col gap-y-[10px] nmob:gap-y-0 nmob:flex-row;
  }
}

@utility setting-section-title {
  /* util.jsx - Section Component */

  &.responsive {
    @apply text-[30px] sm:text-[40px];
  }
}

@utility setting-section-description {
  &.responsive {
    @apply text-sm sm:text-base;
  }
}