:root{
    --icon-shadow: radial-gradient(gray 0%, transparent 60%);
}

img{ user-select: none; }

.setup{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    padding: 2vw;
}
.setup-btn{
    width: 35px;
    height: 35px;
}
.setup-btn img{
    object-fit: cover;
}

.setting{ transition: transform ease-in-out 1s; }
.setting.animate{ transform: rotate(360deg); }

.tool-kit{
    height: 100%;
    width: 0;
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    transition: width ease-in-out 1s;
}

.setup-desc{
    opacity: 0;
    overflow: hidden;
    margin: 5px 0;
    font-size: xx-small;
    transition: opacity ease-in-out 0.5s;
}

.tool-kit .setup-desc{ 
    width: 0;
    transition: opacity ease-in-out 0.5s, width ease-in-out 0.5s; 
}

.tool-kit .setup-desc.animate{
    width: 35px;
}